SHEETY_TOKEN=your_sheety_token_here
SHEETY_PRICES_ENDPOINT=your_sheety_prices_endpoint_here

SERPAPI_KEY=your_serpapi_key_here

TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_VIRTUAL_NUMBER=your_twilio_virtual_number_here
TWILIO_VERIFIED_NUMBER=your_twilio_verified_number_here
TWILIO_WHATSAPP_NUMBER=your_twilio_whatsapp_number_here

CUSTOMER_RESPONSE_ENDPOINT=your_customer_response_endpoint_here

MY_EMAIL=your_email_here
MY_PASSWORD=your_email_app_password_here
